@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Share+Tech&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: rgba(246, 136, 215, 0.4);
}

header {
    background-color: #150741;
}

header h1 {
    color: #fb8ad3;
    font-size: 2rem;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

header .container li {
    display: inline;
    list-style: none;
}

header .container li a {
    color: #fb8ad3;
    font-size: 1.2rem;
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;
    margin-right: 16px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-align: justify;
    color: #150741;
}

.about h2 {
    border-bottom: 1px solid #150741;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.about img {
    flex: 2;
    width: 400px;
    margin-right: 32px;
    border-radius: 16px;
}

.about div {
    flex: 3;
}

.about p:nth-child(3) {
    margin-top: 16px;
}

.about, .products {
    margin: 0 auto;
    padding: 16px;
}

.products {
    margin-bottom: 40px;
}

.products h2 {
    border-bottom: 1px solid #150741;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    list-style: none;
}

.products img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 8px;
}

.products h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.products p {
    font-size: 18px;
    margin-bottom: 16px;
}

.products button {
    width: 100%;
    font-size: 18px;
    color: #fb8ad3;
    background-color: #150741;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(75, 75, 75);
}

.products button:hover {
    background-color: #fb8ad3;
    color: #150741;
}

footer {
    width: 100%;
    padding: 4px;
    color: #fb8ad3;
    font-family: 'Share Tech', sans-serif;
    background: #150741;
    text-align: center;
    font-size: 14px;
}

.footer {
    margin: 8px;
}

.footer p, .footer a {
    font-size: 1.1rem;
    color: #fb8ad3;
    font-family: 'Share Tech', sans-serif;
}

@media (max-width: 1023px) {
    .about {
        display: block;
        justify-content: space-between;
        margin-top: 10px;
        text-align: justify;
        padding: 16px;
        color: #150741;
    }

    .about img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        border-radius: 12px;
    }

    .products ul {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
        list-style: none;
    }

    .products img {
        border-radius: 8px;
    }

    .products li {
        margin-bottom: 16px;
        background-color: rgba(251, 138, 211, 0.4);
        border-radius: 8px;
        padding: 8px;
    }

    .products button {
        margin: 0px;
    }
}

@media (max-width: 640px) {
    .products ul {
        display: block;
    }

    .products li {
        margin-bottom: 30px;
    }
}